In [6]:
import pandas as pd
import requests
import json

API_KEY='sWBP_z5n8gN0817l1XcH18vpJrdxNj-Et2h_1qb7Rc86fgKR1Rb3zSmgGj1UCmJgO_9vf7H8-wraSeE_T9W5pQ6n25cxbuk4VdEu2RD7mVXfFdl2xjDsU3dQiZEoXnYx'
API_KEY1='Ur3A2QUMRv8oAUDuvBjdwsJ2w4RsFeMcDvMmW1S5WIjHGUeYNthn8gHfM8_-NYyDmp7ZNPEvv7LyDWaYALZd_Q4_H4BGnNHmOAKs0PuuKa3EuHNrtDqn371_0XwqXnYx'

headers={'Authorization':'bearer %s'% API_KEY}
headers1={'Authorization':'bearer %s'% API_KEY1}

In [7]:
#funtion for call the business data
def businessCallGET(args):
    businessEndpoint = 'https://api.yelp.com/v3/businesses/search'
    return requests.get(businessEndpoint, params=args,headers=headers)

#funtion for call the review data
def reviewCallGET(id_num):
    reviewEndpoint_base = 'https://api.yelp.com/v3/businesses/'
    reviewEndpoint_end = '/reviews'
    return {id_num:requests.get(reviewEndpoint_base + id_num + reviewEndpoint_end,headers=headers1).json()}

In [8]:
#from page 1 to 1000 
offset=list(range(0,1000,50))
business_data=[]
for i in offset:
    b_params={'term':'pizza','location':'New York City','limit':50,'offset':i}
    business_data.append(businessCallGET(b_params).json())

In [9]:
b_data=business_data.copy()

In [10]:
#'id', 'name', 'price','phone','review_count', 'rating', 'location', , 
business_id=[]
name=[]
review_count=[]
rating=[]
street=[]
state=[]
zip_code=[]
country=[]
city=[]

for i in b_data:
    for j in i['businesses']:
        business_id.append(j['id'])
        name.append(j['name'])
        review_count.append(j['review_count'])
        rating.append(j['rating'])
        street.append(j['location']['address1'])
        state.append(j['location']['state'])
        zip_code.append(j['location']['zip_code'])
        city.append(j['location']['city'])
        country.append(j['location']['country'])

In [11]:
print(len(business_id),len(name),len(review_count),len(rating),len(street))

1000 1000 1000 1000 1000

In [12]:
#for price 
price=[]
for i in b_data:
    for j in i['businesses']:
        if 'price' in j.keys():
            len(j['price'])
            price.append(len(j['price']))       
        else:
            None 
            price.append(None)

len(price)

1000

In [13]:
#for phone

phone=[]
for i in b_data:
    for j in i['businesses']:
        if 'phone' in j.keys():
            j['phone']
            phone.append(j['phone'])       
        else:
            None 
            phone.append(None)

len(phone)

1000

# Get review data  (dont run it too many times)

In [14]:
########################################################################################
# for i in review_data ['id', 'text', 'rating', 'time_created', 'user']
review=[]
for i in business_id:
    review.append(reviewCallGET(i))
########################################################################################

In [12]:
review_data=review.copy()

In [20]:
review_data[1][business_id[1]]['reviews'][0].keys()

dict_keys(['id', 'url', 'text', 'rating', 'time_created', 'user'])

In [266]:
time_created=[]
for i in range(0,len(review_data)):
        for j in range(0,len(review_data[i][business_id[i]]['reviews'])):
            time_created.append(review_data[i][business_id[i]]['reviews'][j]['time_created'])
len(time_created)

2968

In [144]:
#i:['reviews', 'total', 'possible_languages']
#j:['id', 'url', 'text', 'rating', 'time_created', 'user']

business_id_review_id=[]
for i in range(0,len(review_data)):
        for m in range(0,len(review_data[i][business_id[i]]['reviews'])):
            business_id_review_id.append((business_id[i],review_data[i][business_id[i]]['reviews'][m]['id']))

business_id_R=[]            
for i in business_id_review_id:
    business_id_R.append(i[0])
    
review_id=[]
for i in business_id_review_id:
    review_id.append(i[1])

In [145]:
len(business_id_R)

2968

In [146]:
len(review_id)

2968

In [267]:
#review_data--text

text=[]
for i in range(0,len(review_data)):
        for m in range(0,len(review_data[i][business_id[i]]['reviews'])):
            text.append(review_data[i][business_id[i]]['reviews'][m]['text'])
len(text)

2968

In [268]:
review_rating=[]
for i in range(0,len(review_data)):
        for m in range(0,len(review_data[i][business_id[i]]['reviews'])):
            review_rating.append(review_data[i][business_id[i]]['reviews'][m]['rating'])
len(review_rating)

2968

In [269]:
user=[]
for i in range(0,len(review_data)):
        for m in range(0,len(review_data[i][business_id[i]]['reviews'])):
            user.append(review_data[i][business_id[i]]['reviews'][m]['user'])
            
users=[]            
for i in range(0,len(user)):
    users.append(user[i]['name'])
len(users)

2968

# for SQL data

In [320]:
# data for reviews
reviews=[]
for i in range(0,len(review_id)):
     reviews.append((review_id[i],text[i],review_rating[i],users[i],time_created[i],business_id_R[i]))

len(reviews)

2968

In [321]:
r=[]
for i in range(0,len(reviews)):
    r.append(reviews[i][0])
    if r.count(reviews[i][0])>1:
        print (i)

1873
1874
1875

In [326]:
#reviews[1873]
#reviews[1874]
reviews[1875]

('DWze2gpcanZRUpcuQbybow',
 'Best pizza in the area. Amazing choices, excellent and friendly customer service. I love their stone ovens. Pizzas taste soooooo good! The dough is fresh...',
 5,
 'Laura E.',
 '2019-06-29 17:20:59',
 's9gSDyOAO-f_gQEwyk517w')

In [327]:
reviews.remove(('h1o8fahhh6WlNWO6o9bAiA',
 "This is a new spot that has opened in June 2019. It looks nice and clean and plenty of seats for customers. The only thing I've tried has been the pizza...",
 4,
 'Dan H.',
 '2019-11-05 12:56:59',
 's9gSDyOAO-f_gQEwyk517w'))
reviews.remove(('gRmrfk8HO1Vc4zKSsyp2Hg',
 "I just moved to the area and I'm not one for craving pizza but I crave this place and only this place when  I want a slice.  High quality pizza.  Reasonably...",
 5,
 'Jeannette A.',
 '2019-10-04 10:51:09',
 's9gSDyOAO-f_gQEwyk517w'))
reviews.remove(('DWze2gpcanZRUpcuQbybow',
 'Best pizza in the area. Amazing choices, excellent and friendly customer service. I love their stone ovens. Pizzas taste soooooo good! The dough is fresh...',
 5,
 'Laura E.',
 '2019-06-29 17:20:59',
 's9gSDyOAO-f_gQEwyk517w'))

In [328]:
len(reviews)

2965

In [329]:
len(reviews)

2965

In [330]:
# data for businesses
business_1=[]
for i in range(0,len(business_id)):
     business_1.append((business_id[i],name[i],review_count[i],rating[i],price[i],phone[i],street[i],city[i],
                       zip_code[i],state[i],country[i]))

r=[]
for i in range(0,len(business_1)):
    r.append(business_1[i][0])
    if r.count(business_1[i][0])>1:
        print (i)

629

In [331]:
business_1.remove(business_1[629])

In [332]:
len(business_1)

999

# Connect to sql

In [1]:
import mysql.connector
from mysql.connector import errorcode

In [2]:
db_name = 'YELP3'

In [3]:
cnx = mysql.connector.connect(
    host = "my-database.c2zzlugcfplv.us-east-1.rds.amazonaws.com",
    user = "admin",
    passwd = "melaniesoek"
)
cursor=cnx.cursor()

In [4]:
def create_database(cursor, database):
    try:
        cursor.execute(
            "CREATE DATABASE {} DEFAULT CHARACTER SET 'utf8'".format(database))
    except mysql.connector.Error as err:
        print("Failed creating database: {}".format(err))
        exit(1)

In [5]:
# check to see if the database already 
try:
    cursor.execute("USE {}".format(db_name))

#if the previous line fails because there isn't a db by that name run this line

except mysql.connector.Error as err:
    print("Database {} does not exists.".format(db_name))
    if err.errno == errorcode.ER_BAD_DB_ERROR:
        create_database(cursor, db_name)
        print("Database {} created successfully.".format(db_name))
        cnx.database = db_name
    else:
        print(err)
        exit(1)

In [6]:

TABLES = {}
TABLES['businesses'] = (
    "CREATE TABLE businesses ("
    "  business_id varchar(200) NOT NULL ,"
    "  name varchar(200),"
    "  review_count int(250),"
    "  rating DECIMAL (10,2) ,"
    "  price int(10),"
    "  phone varchar(200),"
    "  street varchar(200),"
    "  city varchar(200),"
    "  zip_code int(5),"
    "  state varchar(200),"
    "  country varchar(200) ,"
    "  PRIMARY KEY (business_id)"
    ")")

#(review_id[i],text[i],review_rating[i],users[i],business_id_R[i])
TABLES['reviews'] = (
    "CREATE TABLE reviews ("
    "  review_id varchar(100) NOT NULL,"
    "  text varchar(5000) ,"
    "  rating char(4)  ,"
    "  user varchar(14),"
    "  time_created varchar(40),"
    "  business_id_R varchar(100),"
    "  PRIMARY KEY (review_id)"
    ") ")

In [302]:
TABLES['reviews']

'CREATE TABLE reviews (  review_id varchar(100) NOT NULL,  text varchar(5000) ,  rating char(4)  ,  user varchar(14),  time_created varchar(40),  business_id_R varchar(100),  PRIMARY KEY (review_id)) '

In [303]:
TABLES['businesses']

'CREATE TABLE businesses (  business_id varchar(200) NOT NULL ,  name varchar(200),  review_count int(250),  rating DECIMAL (10,2) ,  price int(10),  phone varchar(200),  street varchar(200),  city varchar(200),  zip_code int(5),  state varchar(200),  country varchar(200) ,  PRIMARY KEY (business_id))'

In [304]:
cnx = mysql.connector.connect(
    host = 'my-database.c2zzlugcfplv.us-east-1.rds.amazonaws.com',
    user = 'admin',
    passwd = 'melaniesoek',
    database = db_name
)
cursor = cnx.cursor()

In [305]:
for table_name in TABLES:
    table_description = TABLES[table_name]
    try:
        print("Creating table {}: ".format(table_name), end='')
        cursor.execute(table_description)
    except mysql.connector.Error as err:
        if err.errno == errorcode.ER_TABLE_EXISTS_ERROR:
            print("already exists.")
        else:
            print(err.msg)
    else:
        print("OK")

cursor.close()
cnx.close()

Creating table businesses: OK
Creating table reviews: OK

In [306]:
#INSERTING DATA

In [307]:
#since we closed the connection, we need to reinstatiate it
cnx = mysql.connector.connect(
    host = 'my-database.c2zzlugcfplv.us-east-1.rds.amazonaws.com',
    user = 'admin',
    passwd = 'melaniesoek',
    database = db_name
)
cursor = cnx.cursor()

In [308]:
#reviews
stmt_r="INSERT INTO reviews(review_id, text, rating, user,time_created,business_id_R) VALUES (%s,%s,%s,%s,%s,%s)"
#businesses
stmt="INSERT INTO businesses(business_id, name, review_count,rating,price, phone,street,city,zip_code,state,country) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s,%s,%s)"

In [309]:
cursor.executemany(stmt, business_1)

In [333]:
cursor.executemany(stmt_r, reviews)

In [334]:
cnx.commit()

In [16]:
######Data Analysis 
#  The research between rating, review_count , price and text length